.h {
    font-family:'Microsoft Himalaya';
    font-size: 80px;
}

.p {
    font-family: 'Microsoft Himalaya';
    font-size: 50px;
}

.hl {
    font-family: 'Microsoft Himalaya';
    font-size: 30px;
    color:darkslategray;
}