
body {
    background-image:linear-gradient(azure, grey);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar {
    margin: auto;
    background-color:  slategrey;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    left:0;
    right:0;
    transition: top 0.1s; /* Transition effect when sliding down (and up) */
}
/* Style the navbar links */
.navbar a {
    float: left;
    justify-content: center;
    color: snow;
    text-align: center;
    padding: 15px;
    font-family: 'Helvetica';
    text-decoration: none;
    margin: auto;
}
.navbar a:hover {
    background-color: grey;
    color: slateblue;
}
.navbar a.active {
    background-color: darkslateblue;
    color: silver;
}

.cb1 {
    margin: auto;
    padding: 10px;
    margin-top:50px;
    margin-bottom:50px;
    padding-bottom: 50px;
    width: 90%;
    background-color: grey;
    text-align: center;
    border-radius: 20px;
}

.h1 {
    font-family: 'Helvetica';
    color:gainsboro;
    font-size: 50px;
}

.productlink {
    margin: auto;
    padding: 20px;
    width: 50%;
    background-color: grey;
    text-align: center;
    border-radius: 20px;
    border-style: outset;
    border-width: 10px;
    border-color: darkslateblue;
    margin-bottom: 20px;
}

.productlink:hover {
    background-color: dimgrey;
    border-style: inset;
    border-width: 10px;
    border-color: darkslateblue;
    text-indent: 10px;
}

.productlink a {
    text-decoration: none;
}

.productlink img{
    float: center;
    width: 60%;
    overflow: hidden;
    cursor: pointer;
}

.s1 {
    font-family: 'Helvetica';
    color: gainsboro;
    font-size: 40px;
    margin-bottom: 1px;
}

.p1 {
    font-family: 'Helvetica';
    color: gainsboro;
    font-size: 25px;
}

.p2 {
    font-family: 'Helvetica';
    color: gainsboro;
    font-size: 10px;
    text-align: center;
}

.navtxt {
    position: inline;
    font-family: 'Helvetica';
    color: gainsboro;
    font-size: 15px;
    float: left;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-family: 'Helvetica';
    margin: auto;
}

#otherstuff {
    margin: auto;
    padding: 10px;
    margin-top:50px;
    margin-bottom:50px;
    width: 90%;
    text-align: center;
}

.legal {
    font-family: 'Helvetica';
    color: darkslateblue;
    font-size: 15px;
}

.fancybottomnav {
    position: inline;
    width: 20%;
    margin: auto;
    width: 100%; /* Full width */
    left:0;
    right:0;
}

.fancybottomnav a {
    font-family: 'Helvetica';
    text-decoration: none;
    font-size: 15px;
    color: darkslateblue;
    display: block;
    float: left;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: auto;
    width: 33.333%;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(240, 255, 255, 0.25);
}

.fancybottomnav a:hover {
    background-color: rgba(240, 255, 255, 0.5);
}