body {
    background-image:repeating-linear-gradient( black, purple, purple, black);
    background-size: 4500% 4500%;
    animation-name: movebg;
    animation-play-state: running;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 6000ms;
    animation-timing-function: linear;
    animation-duration: 8s;
}
@keyframes movebg {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }

}
.fh1 {
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    animation-name: fadeintxt;
    animation-play-state: running;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    font-family: 'Helvetica';
    color: slategrey;
    font-size: 60px;
}
@keyframes fadeintxt {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fh2 {
    opacity: 0;
    text-align: center;
    animation-name: fadeintxt;
    animation-play-state: running;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 3000ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    font-family: 'Helvetica';
    color: slategrey;
    font-size: 35px;   
}
.fp1 {
    opacity: 0;
    text-align: center;
    animation-name: fadeintxt;
    animation-play-state: running;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 6000ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    font-family: 'Helvetica';
    color: slategrey;
    font-size: 25px; 
}
.s1 {
    text-align: center;
    font-family: 'Helvetica';
    color: slategrey;
    font-size: 30px; 
}
.p1 {
    text-align: center;
    font-family: 'Helvetica';
    color: slategrey;
    font-size: 25px; 
}
.h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Helvetica';
    color: slategrey;
    font-size: 60px;
}
.h2 {
    text-align: center;
    font-family: 'Helvetica';
    color: slategrey;
    font-size: 35px;
}

#navbar {
    background-color: darkslateblue;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    left:0;
    right:0;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
} 
/* Style the navbar links */
#navbar a {
    float:left;
    justify-content: center;
    display: box;
    color: grey;
    text-align: center;
    padding: 15px;
    font-family: 'Helvetica';
    text-decoration: none;
}
#navbar a:hover {
    background-color: magenta;
    color: black;
}
#navbar a.active {
    background-color: darkorchid;
    color: silver;
}