body {
    background-color:aliceblue;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.topnavlink {
    text-decoration: none;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 15px;
    text-shadow: dimgrey 3px 3px 3px;

    float: left;
    justify-content: center;
    justify-items: center;
    width: calc(25% - 10px);
    left: 0;
    right: 0;
    
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    
    background-color: beige;
    
    border-style: groove;
    border-width: 5px;
    border-color: bisque;
}

.topnavlink:hover {
    background-color: ivory;

    border-style: ridge;

    color: goldenrod;
    text-shadow: black  2px 2px 2px;
}

.active {
    background-color: bisque;
}

.active:hover {
    background-color: bisque;
}

@font-face {
    font-family: Playfair Display;
    src: url(Fonts/PlayfairDisplay-Medium.ttf) format(TrueType);
}

h1 {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 40px;

    margin-top: 40px;
}

h2 {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 35px; 
}

h3 {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 30px; 
}

p {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 25px;
}

.divider {
    width: 80%;
    margin: auto;
    background-color: beige;
}

.postdisplay {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;

    background-color: beige;

    border-radius: 30px;
}

.postdisplaywtxt {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 20px;

    background-color: beige;

    border-radius: 30px;
}

.postdisplaywtxt h1 {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 40px;

    padding-top: 20px;
}

.maintextbox {
    margin: auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;

    background-color: beige;
}

.post {
    text-decoration: none;
    
    width: 80%;
    margin: auto;
    margin-bottom: 10px;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: white;

    border-width: 10px;
    border-style: ridge;
    border-radius: 10px;
    border-color: grey;

    text-shadow: grey 4px 4px 4px;
}

.post:hover {
    background-color: rgb(200, 200, 200);

    border-width: 10px;
    border-style: groove;
    border-radius: 10px;
    border-color: grey;

    color: goldenrod;
    text-shadow: black 2px 2px 2px;
}