.h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
}
.s1 {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 40px;
}
.p1 {
    font-family: 'Times New Roman';
    font-size: 20px;
}
.p2 {
    font-family: 'Times New Roman';
    font-size: 15px;
}

.hl {
    font-family: 'Times New Roman';
    font-size: 15px;
    color:blue;
}

#nav {
    background-color: lightgrey;
    position: fixed; /* Make it stick/fixed */
}
#nav a {
    float:left;
    justify-content: center;
    display: box;
    text-align: center;
    color: black;
    padding: 15px;
    font-family: 'Times New Roman';
    text-decoration: none;
}
#nav a:hover {
    background-color: silver;
    color: rgb(75, 75, 75);
}