body {
    background-image: linear-gradient(#3d0700, #000000);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sectionmiddle {
    margin: auto;
    padding: 10px;
    margin-top:50px;
    margin-bottom:50px;
    padding-bottom: 50px;
    width: 90%;
    background-color: #9e1503;
    text-align: center;
    border-radius: 20px;
}

.sectionleft {
    margin: left;
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
    background-color: #9e1503;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 50%;

    display: inline-table;
}

.sectionright {
    margin: right;
    float:right;
    margin-top:50px;
    width: fit-content;
    height: fit-content;
    background-color: #9e1503;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 50%;

    display: inline-table;
}

.sectionmiddle p {
    color:beige;
    font-family:'Helvetica';
    font-size: 30px;
}

.sectionmiddle h1 {
    color:beige;
    font-family:'Helvetica';
    font-size: 40px;
}

.sectionmiddle h2 {
    color: beige;
    font-family: 'Helvetica';
    font-size: 35px
}

.sectionleft p {
    color:beige;
    font-family:'Helvetica';
    font-size: 30px;
}

.sectionleft h1 {
    color:beige;
    font-family:'Helvetica';
    font-size: 40px;
}

.sectionleft h2 {
    color: beige;
    font-family: 'Helvetica';
    font-size: 35px
}

.sectionright p {
    color:beige;
    font-family:'Helvetica';
    font-size: 30px;
}

.sectionright h1 {
    color:beige;
    font-family:'Helvetica';
    font-size: 40px;
}

.sectionright h2 {
    color: beige;
    font-family: 'Helvetica';
    font-size: 35px
}


#navbar {
    background-color: #9e1503;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    left:0;
    right:0;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
} 
/* Style the navbar links */
#navbar a {
    float:left;
    justify-content: center;
    color: beige;
    text-align: center;
    padding: 15px;
    font-family: 'Helvetica';
    text-decoration: none;
}
#navbar a:hover {
    background-color: #660e02;
    color: black;
}
#navbar a.active {
    background-color: #3f0700;
    color: silver;
  }